.header {
  height: 70px;
  width: 100%;
  background-color: lightcoral;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.header-logo {
  color: var(--color-header-text);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.logo {
  display: flex;
  flex-flow: row wrap;
  font-size: 52px;
}
.logo-text {
  font-size: 24px;
}
.navigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1350px;
  padding: 20px;
}
.nav-menu {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.nav-link,
.nav-link:active {
  color: var(--color-header-text);
  font-weight: bold;
  transition: 0.3s;
}
.nav-link:hover,
.header-logo:hover {
  color: var(--color-tretiary-accent);
  transition: 0.3s;
}

.user-area,
.auth {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.auth {
  justify-content: center;
  gap: 5px;
}
.auth-hidden {
  display: none;
}
.user-area {
  justify-content: space-between;
  gap: 30px;
}
.auth-logo {
  font-size: 32px;
}
.auth-logo,
.auth-link,
.auth-logo:active,
.auth-link:active,
.slash,
.cart-logo,
.cart-logo:active {
  color: var(--color-secondary-accent);
  font-weight: 600;
  transition: 0.3s;
}
.auth-logo:hover,
.auth-link:hover,
.cart-logo:hover {
  color: var(--color-tretiary-accent);
  transition: 0.3s;
}
.auth-link {
  font-weight: bold;
}
.cart-logo {
  font-size: 32px;
}
.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: var(--color-header-text);
  font-size: 24px;
}
.menu-btn {
  color: var(--color-header-text);
  font-size: 36px;
}
.nav-btn {
  color: var(--color-accent);
}

@media (max-width: 768px) {
  .nav-menu {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .user-area {
    gap: 10px;
  }

  .auth {
    display: none;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }
  .auth-hidden {
    display: flex;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 0 10px;
  }

  .logo-text {
    display: none;
  }

  .auth-link {
    font-size: 12px;
  }
}
