<header class="header">
  <nav class="navigation">
    <div>
      <a href="/" class="header-logo">
        <span class="material-symbols-outlined logo"> storefront </span>
        <span class="logo-text">StoreLogo</span>
      </a>
    </div>
    <ul class="nav-menu">
      <li><a routerLink="" class="nav-link">Home</a></li>
      <li><a routerLink="/products" class="nav-link">Products</a></li>
      <li><a routerLink="/about" class="nav-link">About Us</a></li>
      <li><a routerLink="/contact" class="nav-link">Contact</a></li>
    </ul>
    <div class="user-area">
      <div class="auth">
        <span class="material-symbols-outlined auth-logo"> person </span>
        <a routerLink="" class="auth-link">Login</a>
        <span class="slash"> / </span>
        <a routerLink="" class="auth-link"> Register </a>
      </div>
      <div>
        <a routerLink="/cart">
          <span
            matBadge="{{ cartTotalQuantity }}"
            class="material-symbols-outlined cart-logo"
          >
            shopping_cart
          </span>
        </a>
      </div>
    </div>
  </nav>
</header>
