<div class="container">
  <div class="about">
    <h2 class="about-header">Meet Our Team</h2>
    <div class="team-layout">
      <section class="person-section">
        <img
          src="../../../../public/images/ph.jpg"
          class="profile-img"
          alt="profile-image"
        />
        <h4 class="person-name">Name Lastname</h4>
        <p class="about-person">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem,
          hic delectus eveniet laborum, dicta temporibus ex possimus inventore
          optio unde perspiciatis. Velit repellat, perferendis reprehenderit
          labore vero similique reiciendis ratione delectus iste nisi commodi
          ipsa totam asperiores obcaecati corrupti corporis mollitia nesciunt?
          Possimus quam suscipit cupiditate tempore facilis voluptatibus
          similique.
        </p>
        <span class="position">Manager</span>
        <ul class="socials">
          <li>
            <a href=""><i class="fa-brands fa-facebook socials-logo"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-instagram socials-logo"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-twitter socials-logo"></i></a>
          </li>
        </ul>
      </section>
      <section class="person-section">
        <img
          src="../../../../public/images/ph.jpg"
          class="profile-img"
          alt="profile-image"
        />
        <h4 class="person-name">Name Lastname</h4>

        <p class="about-person">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem,
          hic delectus eveniet laborum, dicta temporibus ex possimus inventore
          optio unde perspiciatis. Velit repellat, perferendis reprehenderit
          labore vero similique reiciendis ratione delectus iste nisi commodi
          ipsa totam asperiores obcaecati corrupti corporis mollitia nesciunt?
          Possimus quam suscipit cupiditate tempore facilis voluptatibus
          similique.
        </p>
        <span class="position">Manager</span>
        <ul class="socials">
          <li>
            <a href=""><i class="fa-brands fa-facebook socials-logo"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-instagram socials-logo"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-twitter socials-logo"></i></a>
          </li>
        </ul>
      </section>
      <section class="person-section">
        <img
          src="https://static.vecteezy.com/system/resources/previews/042/332/098/non_2x/default-avatar-profile-icon-grey-photo-placeholder-female-no-photo-images-for-unfilled-user-profile-greyscale-illustration-for-socail-media-web-vector.jpg"
          class="profile-img"
          alt="profile-image"
        />
        <h4 class="person-name">Name Lastname</h4>

        <p class="about-person">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem,
          hic delectus eveniet laborum, dicta temporibus ex possimus inventore
          optio unde perspiciatis. Velit repellat, perferendis reprehenderit
          labore vero similique reiciendis ratione delectus iste nisi commodi
          ipsa totam asperiores obcaecati corrupti corporis mollitia nesciunt?
          Possimus quam suscipit cupiditate tempore facilis voluptatibus
          similique.
        </p>
        <span class="position">Manager</span>
        <ul class="socials">
          <li>
            <a href=""><i class="fa-brands fa-facebook socials-logo"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-instagram socials-logo"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-twitter socials-logo"></i></a>
          </li>
        </ul>
      </section>
      <section class="person-section">
        <img
          src="../../../../public/images/ph.jpg"
          class="profile-img"
          alt="profile-image"
        />
        <h4 class="person-name">Name Lastname</h4>

        <p class="about-person">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem,
          hic delectus eveniet laborum, dicta temporibus ex possimus inventore
          optio unde perspiciatis. Velit repellat, perferendis reprehenderit
          labore vero similique reiciendis ratione delectus iste nisi commodi
          ipsa totam asperiores obcaecati corrupti corporis mollitia nesciunt?
          Possimus quam suscipit cupiditate tempore facilis voluptatibus
          similique.
        </p>
        <span class="position">Manager</span>
        <ul class="socials">
          <li>
            <a href=""><i class="fa-brands fa-facebook socials-logo"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-instagram socials-logo"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-brands fa-twitter socials-logo"></i></a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
