.products-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.category-dropdown {
  display: flex;
  flex-direction: row;
}
