<footer>
  <div class="footer">
    <div class="footer-section">
      <h4 class="footer-header">Get In Touch</h4>
      <p class="footer-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, tenetur.
      </p>
      <ul class="socials">
        <li>
          <a href=""><i class="fa-brands fa-facebook socials-logo"></i></a>
        </li>
        <li>
          <a href=""><i class="fa-brands fa-instagram socials-logo"></i></a>
        </li>
        <li>
          <a href=""><i class="fa-brands fa-twitter socials-logo"></i></a>
        </li>
      </ul>
    </div>
    <div class="footer-section">
      <h4 class="footer-header">Company Info</h4>
      <ul class="footer-links">
        <li class="footer-text"><a href="" class="footer-link">About Us</a></li>
        <li class="footer-text"><a href="" class="footer-link">Blog</a></li>
        <li class="footer-text"><a href="" class="footer-link">Hiring</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4 class="footer-header">Features</h4>
      <p class="footer-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus eum
        eaque provident fugit nesciunt soluta nulla possimus illum non nisi.
      </p>
    </div>
  </div>
  <p class="footer-text">© Angular Project January 2025</p>
</footer>
