<main class="home">
  <div class="home-section-1">
    <div class="home-info">
      <h2 class="home-header">Best place for your Shopping Needs!</h2>
      <p class="home-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
        deleniti similique eius? Sit voluptatum amet fugiat, expedita odio
        officia dignissimos iste possimus fuga cum sequi quisquam ea iusto
        aperiam laborum?
      </p>
    </div>
    <button class="explore-button">Explore</button>
  </div>
  <div class="home-section-2">
    <div class="hero-image">
      <div class="img">Image</div>
    </div>
    <ul class="home-stats">
      <li class="stat">
        <h5 class="stat-header">100%</h5>
        <p class="home-text">Satisfaction Guarrantee</p>
      </li>
      <li class="stat">
        <h5 class="stat-header">1200+</h5>
        <p class="home-text">Products</p>
      </li>
      <li class="stat">
        <h5 class="stat-header">420+</h5>
        <p class="home-text">Lorem, ipsum dolor.</p>
      </li>
    </ul>
  </div>
</main>
