.home {
  min-height: 70vhpx;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20;
}
.home-section-1,
.home-section-2 {
  max-width: 50%;
  display: flex;
}
.home-section-1 {
  flex-flow: column nowrap;
  gap: 70px;
}
.home-section-2 {
  flex-flow: row nowrap;
  gap: 40px;
  padding-left: 70px;
  position: relative;
}
.home-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  gap: 30px;
}
.home-header {
  font-size: 52px;
  color: var(--color-accent);
  width: 100%;
}
.home-text {
  color: var(--color-accent);
}
.explore-button {
  background-color: var(--color-secondary-accent);
  font-size: 24px;
  color: white;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
  width: 200px;
  height: 50px;
  transition: 0.3s;
}
.explore-button:hover {
  background-color: #ff7f50;
  cursor: pointer;
  transition: 0.3s;
}
.hero-image {
  overflow: hidden;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  width: 450px;
  height: 550px;
  background: lightblue url("../../../../public/images/hero.jpg") no-repeat
    center center;
  background-size: cover;
  z-index: 10;
}
.flower {
  position: absolute;
  background-color: var(--color-secondary-accent);
  z-index: 1;
  width: 200px;
  aspect-ratio: 1;
  right: 120px;
  top: -20px;
  --g: /20.56% 20.56% radial-gradient(#000 calc(71% - 1px), #0000 71%) no-repeat;
  mask: 100% 50% var(--g), 93.301% 75% var(--g), 75% 93.301% var(--g),
    50% 100% var(--g), 25% 93.301% var(--g), 6.699% 75% var(--g),
    0% 50% var(--g), 6.699% 25% var(--g), 25% 6.699% var(--g), 50% 0% var(--g),
    75% 6.699% var(--g), 93.301% 25% var(--g),
    radial-gradient(100% 100%, #000 38.366%, #0000 calc(38.366% + 1px));
}
.wavy-line {
  --s: 24px; /* size of the wave */
  --b: 8px; /* thickness of the line */
  --m: 0.4; /* curvature of the wave [0 2] */
  position: absolute;
  background-color: var(--color-accent);
  z-index: 1;
  --R: calc(var(--s) * sqrt(var(--m) * var(--m) + 1) + var(--b) / 2);
  height: calc(2 * var(--R));
  width: 300px;
  left: -90px;
  bottom: 100px;
  transform: rotate(110deg);
  --_g: #0000 calc(99% - var(--b)), #000 calc(101% - var(--b)) 99%, #0000 101%;
  mask: radial-gradient(
        var(--R) at left 50% bottom calc(-1 * var(--m) * var(--s)),
        var(--_g)
      )
      calc(50% - 2 * var(--s)) calc(50% - var(--s) / 2 - var(--b) / 2) /
      calc(4 * var(--s)) calc(var(--s) + var(--b)) repeat-x,
    radial-gradient(
        var(--R) at left 50% top calc(-1 * var(--m) * var(--s)),
        var(--_g)
      )
      50% calc(50% + var(--s) / 2 + var(--b) / 2) / calc(4 * var(--s))
      calc(var(--s) + var(--b)) repeat-x;
}
.dashed-circle {
  --n: 33; /* number of dashes */
  --d: 8deg; /* control the space between dashes */

  height: 200px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 10px; /* border thickness */
  /* the coloration (more examples: https://css-tip.com/dashed-rounded-border/ */
  background: repeating-conic-gradient(
    var(--color-secondary-accent) 0 calc(360deg / var(--n)),
    var(--color-accent) 0 calc(2 * 360deg / var(--n))
  );
  mask: linear-gradient(#0000 0 0) content-box intersect,
    repeating-conic-gradient(
      from calc(var(--d) / 2),
      #000 0 calc(360deg / var(--n) - var(--d)),
      #0000 0 calc(360deg / var(--n))
    );
  position: absolute;
  z-index: 1;
  width: 200px;
  aspect-ratio: 1;
  left: 30px;
  top: 30px;
}
.home-stats {
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
  justify-content: center;
  z-index: 10;
}
.stat-header {
  font-size: 32px;
  color: var(--color-header);
  font-weight: bold;
}

@media (max-width: 768px) {
  .home-section-1,
  .home-section-2 {
    max-width: 80%;
    display: flex;
  }
  .home-section-2 {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .home {
    flex-flow: column;
    gap: 50px;
    margin: 0 20px;
  }
  .home-info {
    margin-right: 0;
    align-items: flex-start;
  }

  .hero-image {
    height: 50vh;
    border-radius: 100px 100px 30px 30px;
  }

  .home-header {
    font-size: 48px;
    width: 100%;
    text-align: center;
  }

  .explore-button {
    position: absolute;
    bottom: 20%;
    right: 10%;
    z-index: 12;
  }

  .home-stats {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
  }
  .stat {
    min-width: 30%;
  }
  .wavy-line {
    transform: rotate(60deg);
  }
  .flower {
    left: -50px;
    top: -40px;
  }
  .dashed-circle {
    right: -101px;
    bottom: -202px;
  }
}

@media (max-width: 480px) {
  .home-header {
    font-size: 40px;
  }
  .hero-image {
    height: 30vh;
    width: 300px;
  }
  .home-info {
    gap: 20px;
  }

  .explore-button {
    width: 140px;
    font-size: 20px;
    bottom: 380px;
    right: 12%;
    z-index: 12;
  }
}
