* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style-type: none;
}
:root {
  --color-header: #f08080;
  --color-header-text: #ffffff;
  --color-footer: #1c1c1c;
  --color-background: #ffe4e1;
  --color-text: #333333;
  --color-accent: #ff7f50;
  --color-secondary-accent: #80cbc4;
  --color-tretiary-accent: #ff4400;
  --color-border: #cccccc;
}
a:hover {
  cursor: pointer;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
}
app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  max-width: 1350px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  height: 100%;
  min-height: 70vh;
}
